.carousel{
    -ms-grid-column: 2;
    grid-area: carousel;
    margin-top: -9em;
}

.carousel .carouselWrapper{
    min-width: 30em;
    height: auto;
    margin-top: 3em;
    margin-left: 7em;
}

.carousel .carouselWrapper img{
    width: 100%;
    height: auto;
}

@media(max-width: 1150px) {
    .carousel{
        display: none;
    }

    .carousel .carouselWrapper img{
        display: none;
    }
}