.container {
    display: grid;
    grid-template-columns: 15% 1fr 15%;
    grid-template-rows: auto;
    margin: 2em 0;
}

.midlePositionBox {
    grid-column-start: 2;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto;
}

.videoBox {
    grid-column-start: 2;
    margin: 2em 0;
}